<h1>Mock Sessions</h1>

@if (sessionsState.status === 'loading'){
  <p>Loading sessions...</p>
} @else if (sessionsState.status === 'error'){
  <p>Error: {{sessionsState.message}}</p>
} @else if (sessionsState.status === 'ready'){
  <ul>
    @for (s of sessionsState.data; track s.id){
      <li>
        <strong>{{s.title}}</strong>

        <div>Track: {{s.track?.name}}</div>

        <div>
          Speakers:
          @for (sp of s.speakers ?? []; track sp.id; let last = $last){
            {{sp.name}}@if (!last) {, }
          }
        </div>

        <div>{{s.startTime}} - {{s.endTime}}</div>
      </li>
    }
  </ul>
} @else {
  <p>Idle.</p>
}


<hr>

<h2>Create Session</h2>

<form #form = "ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title:</label>
    <input
      name="title"
      [(ngModel)]="newSession.title"
      required
      #title="ngModel"
    />
    @if(title.invalid && title.touched) {
      <div style="color: red;">Title is required</div>
    }
  </div>

  <div>
    <label>Abstract:</label>
    <input
      name="abstract"
      [(ngModel)]="newSession.abstract"
      required
      #abstract="ngModel"
    />
    @if (abstract.invalid && abstract.touched){
      <div style="color: red;">Abstract is required</div>
    }
  </div>

  <div>
    <label>Start Time:</label>
    <input
      type="datetime-local"
      name="startTime"
      [(ngModel)]="newSession.startTime"
      required
      #startTime="ngModel"
    />
  </div>

  <div>
    <label>End Time:</label>
    <input
      type="datetime-local"
      name="endTime"
      [(ngModel)]="newSession.endTime"
      required
      #endTime="ngModel"
    />
  </div>

  <button type="submit" [disabled]="form.invalid">
    Create
  </button>
</form>

@if (submittedData){
  <h3>Submitted Data:</h3>
  <div>Title: {{ submittedData.title }}</div>
  <div>Abstract: {{ submittedData.abstract }}</div>
  <div>Start: {{ submittedData.startTime }}</div>
  <div>End: {{ submittedData.endTime }}</div>
  <div>TrackId: {{ submittedData.trackId }}</div>
}